h1{color: black; font-family: 'Slabo 27px', serif;}

.custom-margin-top {
	margin-top: 35p
}
.custom-margin-bottom{
	margin-bottom: 20p
}
.custom-margin-left{
	margin-left: 50p
}
.custom-margin-right{
	margin-right: 50p
}
body{
	background-image: url("http://www.geo.mtu.edu/weather/aurora/2013/IMG_3515.jpg");
	 font-family: 'Slabo 27px', serif;
}
.custom-padding{padding-top: 20px
}
.custom-padding-left{padding-left: 20px
}
.custom-padding-right{padding-right: 20px
}